<!DOCTYPE html>
<html lang="en" ng-app="BeMEAM" ng-controller="filtersCtrl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>atividade 1</title>

    <!-- Angular -->
    <script src="/angular.min.js"></script>
    <script src="/Desafios/desafio2/1.js"></script>
    
</head>
<body>
    <h1>Implementação filter, lowercase, uppercase, orderBy e currency</h1>

    <label>Busca: <input ng-model="searchText"></label>
    <table id="searchTextResults">
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
        </tr>
        <tr ng-repeat="friend in friends | filter:searchText as results">
            <td>{{friend.name | uppercase}}</td>
            <td>{{friend.phone | lowercase}}</td>
        </tr>
    </table>
    <span><b>Total: {{results.length}} Amigos</b></span>

    <hr>

    <label>Qualquer: <input ng-model="search.$"></label> <br>
    <label>Apenas Nome <input ng-model="search.name"></label><br>
    <label>Apenas Telefone <input ng-model="search.phone"></label><br>
    <table id="searchObjResults">
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
        </tr>
        <tr ng-repeat="friendObj in friends | filter:search:strict">
            <td>{{friendObj.name}}</td>
            <td>{{friendObj.phone}}</td>
        </tr>
    </table>
    
    <hr>

    <label>Valor do Produto: <input ng-model="valorProduto"></label>
    <p>O Valor do Produto é: {{valorProduto | currency:"R$ "}}</p>
    
</body>
</html>
